#Server Config
PORT=3000
NODE_ENV=development

#Sequelize Config
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=senha
DB_NAME=pi_db

#MongoDB Config
MONGO_URI=mongodb://localhost:27017/pi_auditoria

#JWT Config
JWT_SECRET=uma_chave_muito_segura_e_longa_aqui

#Mailgun Config
MAILGUN_API_KEY=sua_api_key_aqui
MAILGUN_DOMAIN=seu_dominio_aqui
MAILGUN_FROM="Equipe de Estágios <postmaster@seu_dominio.com>"
FRONTEND_URL=http://localhost:517